In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [67]:
movie = pd.read_csv('25k IMDb movie Dataset.csv')
movie.head()

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/

#### Chequear valores nulos

In [68]:
movie.isnull().sum()

movie title       0
Run Time          0
Rating            0
User Rating       0
Generes           0
Overview        244
Plot Kyeword      0
Director          0
Top 5 Casts       0
Writer            0
year            778
path              0
dtype: int64

#### Eliminar valores nulos

In [69]:
movie[movie.year.isnull()]
movie.drop(movie[movie['year'].isnull()].index,inplace=True)
movie.drop(movie[movie['Overview'].isnull()].index,inplace=True)
movie.drop(movie[movie['Rating']=='no-rating'].index,inplace=True)

movie.isnull().sum()

movie title     0
Run Time        0
Rating          0
User Rating     0
Generes         0
Overview        0
Plot Kyeword    0
Director        0
Top 5 Casts     0
Writer          0
year            0
path            0
dtype: int64

#### Eliminar columnas innecesarias

In [70]:
movie.drop(columns=['Run Time','Overview','path','Plot Kyeword'],inplace=True,axis=1)

### Cambiar formatos de user rating y el año

In [71]:
import re

movie['User Rating'] = movie['User Rating'].str.replace('K','000')
movie['User Rating'] = movie['User Rating'].str.replace('M','0000')
movie['year'] = movie['year'].str.replace(r'[^0-9]','',regex=True)
movie['year'].drop_duplicates().unique

<bound method Series.unique of 0        2022
2        1986
13       1993
15       2021
19       2015
         ...
13796    1919
13860    1920
14246    1913
16269    2025
19947    1922
Name: year, Length: 113, dtype: object>

#### Convertir en tipo numerico las columnas user rating ,rating ,year

In [72]:
movie[['User Rating','Rating']] = movie[['User Rating','Rating']].apply(lambda x : x.astype('float'),axis=1)
pd.to_numeric(movie['year'], downcast="integer",errors='coerce')
movie.drop(movie[movie['year'].isnull()].index,inplace=True)
movie.isnull().sum()

movie title    0
Rating         0
User Rating    0
Generes        0
Director       0
Top 5 Casts    0
Writer         0
year           0
dtype: int64

In [73]:
movie.rename(columns={'Generes':'genres'},inplace=True)
movie.columns = movie.columns.str.replace(' ','_')
movie.columns = movie.columns.str.lower()

In [74]:
clean_data_movie = movie
clean_data_movie.to_csv('clean_data_movie.csv',)

#### Exploracion de datos

In [75]:
movie.head()

,movie_title,rating,user_rating,genres,director,top_5_casts,writer,year
0,Top Gun: Maverick,8.6,187000.0,"['Action', 'Drama']",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,2022
1,Jurassic World Dominion,6.0,56000.0,"['Action', 'Adventure', 'Sci-Fi']",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,2022
2,Top Gun,6.9,380000.0,"['Action', 'Drama']",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,1986
3,Lightyear,5.2,32000.0,"['Animation', 'Action', 'Adventure']",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,2022
4,Spiderhead,5.4,23000.0,"['Action', 'Crime', 'Drama']",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,2022

In [84]:
movie['genres'] = movie['genres'].str.replace(r"\]",'',regex=True)
movie['genres'] = movie['genres'].str.replace(r"\[",'',regex=True)
movie['genres'] = movie['genres'].str.replace(' ','',regex=True)