In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:

lego_set = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
lego_parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')
lego_set.shape

(11986, 6)

#### Eliminar los valores nulos de los datos en la coluna "set_num"

In [4]:
lego_set = lego_set[lego_set["set_num"].notna()]
lego_set

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western

In [5]:
# What porcentages of all instance sets ever released were Star Wars Themed
#merge datas 
all_data = lego_set.merge(lego_parent_theme,left_on="parent_theme",right_on="name")
all_data.drop(columns="name_y",inplace=True)
all_data.head()
licensed =all_data[all_data["is_licensed"]]
all_data
star_wars = licensed[licensed["parent_theme"] == "Star Wars"]
the_force = star_wars.shape[0]/licensed.shape[0]*100
the_force

51.653944020356235

In [21]:
#in which year was star wars not the most popular licensed theme

licensed_group=licensed.sort_values("year").groupby(["year","parent_theme"]).sum().reset_index()
licensed_group.sort_values("is_licensed",ascending=False).drop_duplicates(["year"])

C:\Users\raini\AppData\Local\Temp\ipykernel_10708\1864333556.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  licensed_group=licensed.sort_values("year").groupby(["year","parent_theme"]).sum().reset_index()

    year  parent_theme  num_parts     id  is_licensed
82  2017  Super Heroes    13123.0  34704           72
76  2016     Star Wars     6934.0   9638           61
67  2015     Star Wars    11410.0   9164           58
59  2014     Star Wars     8293.0   7110           45
47  2012     Star Wars     6769.0   6794           43
32  2009     Star Wars     3953.0   6162           39
52  2013     Star Wars     6159.0   5530           35
9   2003     Star Wars     6660.0   5056           32
42  2011     Star Wars     3451.0   5056           32
36  2010     Star Wars     6003.0   4740           30
16  2005     Star Wars     4730.0   4424           28
6   2002     Star Wars     4735.0   4424           28
2   2000     Star Wars     2580.0   4108           26
28  2008     Star Wars     6865.0   3634           23
12  2004     Star Wars     1659.0   3160           20
24  2007     Star Wars    11361.0   2528           16
4   2001     Star Wars     2949.0   2212           14
0   1999     Star Wars     1384.0   2054           13
20  2006     Star Wars     2769.0   1738           11